body {
	background-color: #71BA51;
}

form {
	margin: 5rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
}

form img {
	margin: 3rem;	
}

form > input[type="text"] {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

form > input[type="password"] {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-primary {
	margin-top: 2rem;
	background-color:  #1E824C;
	border-color: #1E824C;
}

.btn-primary:hover {
	background-color: #27ae60;
	border-color: #27ae60;
} 