form {
	margin: 5rem;
	padding: 2rem;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.7);
}

form img {
	margin: 3rem;	
}

.btn-primary {
	margin-top: 2rem;
	background-color: #1e824c;
	border-color: #1e824c;
}

.btn-primary:hover {
	background-color: #27ae60;
	border-color: #27ae60;
} 